#page-room {
  header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--gray);

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      >img {
        max-height: 2.275rem;
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        color: var(--dark-gray);
      }

      span {
        margin-left: 1rem;
        background-color: var(--pink);
        color: var(--white);
        border-radius: 9999px;
        padding: .5rem 1rem;
        font-weight: 500;
        font-size: .875rem;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 1rem;
        border-radius: .5rem;
        background-color: var(--light-gray);
        box-shadow: 0 2px 12px rgba(0, 0, 0, .04);
        resize: vertical;
        min-height: 130px;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }

          span {
            margin-left: 0.5rem;
            color: var(--dark-gray);
            font-weight: 500;
            font-size: .875rem;
          }
        }

        >div {
          display: flex;
          gap: 1rem;
        }

        >span {
          font-size: .875rem;
          color: var(--medium-gray);
          font-weight: 500;

          button {
            background-color: transparent;
            border: none;
            color: var(--purple);
            text-decoration: underline;
            font-size: .875rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
