.button {
  margin-top: 4rem;
  height: 50px;
  border-radius: .5rem;
  font-weight: 500;
  background-color: var(--purple);
  color: var(--white);
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 0;
  transition: filter .2s;

  img {
    margin-right: 0.5rem;
  }

  &:not(:disabled):hover {
    filter: brightness(.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
