.question {
  background-color: var(--light-gray);
  border-radius: .5rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, .04);
  padding: 1.5rem;

  &+.question {
    margin-top: 0.5rem;
  }

  p {
    color: var(--dark-gray);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      span {
        margin-left: 0.5rem;
        color: var(--medium-gray);
        font-size: .875rem;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
      transition: filter .3s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--gray);
        gap: .5rem;

        &.liked {
          color: var(--purple);

          svg path {
            stroke: var(--purple);
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}
